@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial/Arial-BoldMT.eot");
  src: url("../fonts/Arial/Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial/Arial-BoldMT.woff") format("woff"), url("../fonts/Arial/Arial-BoldMT.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/RobotoRegular.eot");
  src: url("../fonts/Roboto/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoRegular.woff") format("woff"), url("../fonts/Roboto/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot");
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #FDFDFD;
  color: #444444;
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2 {
  color: #121212;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 24px;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  font-size: 24px;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  h2 {
    font-size: 14px;
  }
}

p {
  margin: 0;
}

a {
  color: #121212;
  text-decoration: none;
}

.title {
  color: #121212;
  font-weight: 700;
}

.page {
  width: 100%;
}

.wrapper {
  max-width: 1170px;
  width: 84.6%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .wrapper {
    width: 81.3%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 10px 0;
}

.nav-item {
  font-size: 16px;
}

.nav-link {
  color: #121212;
  font-weight: 700;
  padding: 8px 9px;
  border-radius: 4px;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.__active {
  background: #121212;
  color: #F8F8F8;
}

.nav-link.__active:hover {
  text-decoration: none;
}

.search {
  width: 20px;
  height: 20px;
  position: relative;
}

.search-icon {
  display: block;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.search button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  display: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 2;
}

.search button svg {
  width: 20px;
  height: 20px;
}

.search input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 170px;
  padding: 5px 45px 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #121212;
  border-radius: 50px;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  position: absolute;
  left: -135px;
  top: -4px;
  opacity: 0;
  z-index: -1;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

@media (max-width: 360px) {
  .search input {
    width: 140px;
    left: -110px;
  }
}

.search-active input {
  opacity: 1;
  z-index: 1;
}

.search-active button {
  display: block;
}

.search-active .search-icon {
  display: none;
}

.blog-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 40px 0 24px;
}

@media (max-width: 576px) {
  .blog-title {
    margin: 40px 0 16px;
  }
}

.blog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-filter-data {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  margin-right: 8px;
  color: #121212;
}

@media (max-width: 576px) {
  .blog-filter-data {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .blog-filter-data span {
    display: none;
  }
}

@media (max-width: 360px) {
  .blog-filter-data {
    font-size: 10px;
  }
}

.blog-filter-icon {
  width: 24px;
  height: 24px;
}

.blog-items {
  display: inline-block;
  margin-bottom: 20px;
}

.blog-item {
  min-height: 502px;
  width: calc((100% - 30px * 3) / 4);
  margin-bottom: 60px;
  margin-right: 30px;
  float: left;
}

.blog-item:nth-child(4n+4) {
  margin-right: 0;
  float: right;
}

@media (max-width: 1200px) {
  .blog-item {
    min-height: 413px;
    margin-bottom: 40px;
  }
}

@media (max-width: 992px) {
  .blog-item {
    width: calc((100% - 20px * 2) / 3);
    margin-right: 20px;
  }
  .blog-item:nth-child(4n+4) {
    margin-right: 20px;
    float: left;
  }
  .blog-item:nth-child(3n+3) {
    margin-right: 0;
    float: right;
  }
}

@media (max-width: 576px) {
  .blog-item {
    width: calc((100% - 20px * 1) / 2);
    min-height: 286px;
  }
  .blog-item:nth-child(3n+3) {
    margin-right: 20px;
    float: left;
  }
  .blog-item:nth-child(2n+2) {
    margin-right: 0;
    float: right;
  }
}

@media (max-width: 576px) {
  .blog-item {
    margin-bottom: 20px;
  }
}

.blog h2.title {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  margin: 16px 0;
}

@media (max-width: 576px) {
  .blog h2.title {
    margin: 8px 0 12px;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    min-height: 48px;
  }
}

@media (max-width: 360px) {
  .blog h2.title {
    min-height: 42px;
  }
}

.blog-img {
  border-radius: 8px;
  overflow: hidden;
  display: block;
}

.blog-img img {
  width: 100%;
}

@media (max-width: 1200px) {
  .blog-img {
    max-height: 128px;
  }
}

.blog-info {
  margin-bottom: 16px;
}

@media (max-width: 576px) {
  .blog-info {
    margin-bottom: 8px;
  }
}

.blog-info span {
  color: #949494;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 576px) {
  .blog-info span {
    font-size: 8px;
  }
}

.blog-date {
  margin-right: 12px;
}

.blog-text {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 7;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  line-height: 25px;
}

@media (max-width: 1200px) {
  .blog-text {
    -ms-line-clamp: 6;
    -webkit-line-clamp: 6;
    line-clamp: 6;
  }
}

@media (max-width: 576px) {
  .blog-text {
    -ms-line-clamp: 4;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    font-size: 12px;
    line-height: 18px;
  }
}

.blog-link-more {
  line-height: 30px;
}

.blog-link-more:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .blog-link-more {
    font-size: 12px;
    line-height: 20px;
  }
}

.blog-filter-dropdown {
  display: inline-block;
  position: relative;
}

.blog-filter-dropdown button {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.blog-filter-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #F8F8F8;
  min-width: 220px;
  max-height: 200px;
  right: 0;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.blog-filter-dropdown .dropdown-content a {
  color: #121212;
  padding: 12px 16px;
  display: block;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
}

.blog-filter-dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

.blog-filter-dropdown.show .dropdown-content {
  display: block;
}

.footer {
  text-align: center;
  background: #F8F8F8;
}

.footer-copy {
  font-size: 16px;
  font-weight: 700;
  color: #949494;
  padding: 31px 0;
}

@media (max-width: 576px) {
  .footer-copy {
    font-size: 12px;
    padding: 16px 0;
  }
}
/*# sourceMappingURL=style.css.map */