@font-face {
	font-family: "Arial";
	src: url("../fonts/Arial/Arial-BoldMT.eot");
	src: url("../fonts/Arial/Arial-BoldMT.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Arial/Arial-BoldMT.woff") format("woff"),
			 url("../fonts/Arial/Arial-BoldMT.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/RobotoRegular.eot");
	src: url("../fonts/Roboto/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Roboto/RobotoRegular.woff") format("woff"),
			 url("../fonts/Roboto/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Bold.eot");
	src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Roboto/Roboto-Bold.woff") format("woff"),
			 url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "PlayfairDisplay";
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot");
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff"),
			 url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "PlayfairDisplay";
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot");
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff") format("woff"),
			 url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}