@import 'variables';
@import 'fonts';

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html, 
body {
    margin: 0;
    padding: 0;
}
body {
    background: $light;
    color:lighten($black, 26.5%);
    font-family: 'PlayfairDisplay', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
h1,
h2 {
  color:lighten($black, 7%);
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    @include breakpoint (xl) {
        font-size: 24px;
    }
    @include breakpoint (xs) {
        font-size: 20px;
    }
}
h2 {
  font-size: 24px;
  @include breakpoint (xl) {
    font-size: 18px;
  }
  @include breakpoint (ms) {
    font-size: 16px;
  }
  @include breakpoint (xs) {
    font-size: 14px;
  }
}
p {
    margin: 0;
}
a {
    color:lighten($black, 7%);
    text-decoration: none;
}
.title {
    color: lighten($black, 7%);
    font-weight: 700;
}
.page {
    width: 100%;
}
.wrapper {
    max-width: 1170px;
    width: 84.6%;
    margin: 0 auto;
    @include breakpoint (ms) {
        width: 81.3%;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
}
.nav {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 10px 0;
    &-item {
        font-size: 16px;
    }
    &-link {
        color:lighten($black, 7%);
        font-weight: 700;
        padding: 8px 9px;
        border-radius: 4px;
        transition: background-color .5s;
        &:hover {
            text-decoration: underline;
        }
        &.__active {
            background: lighten($black, 7%);
            color: $white;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.search {
    width: 20px;
    height: 20px;
    position: relative;
    &-icon {
        display: block;
        cursor: pointer;
        height: 20px;
        width: 20px;
    }
    & button {
        background: none;
        box-shadow: none;
        border: none;
        display: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        appearance: none;
        width: 20px;
        height: 20px;
        position: relative;
        z-index: 2;

        & svg {
            width: 20px;
            height: 20px;
        }
    }
    & input {
        appearance: none;
        width: 170px;
        padding: 5px 45px 5px 10px;
        box-sizing: border-box;
        border: 2px solid lighten($black, 7%);
        border-radius: 50px;
        font-size: 12px;
        line-height: 16px;
        font-family: 'Arial', sans-serif;
        font-weight: 400;
        position: absolute;
        left: -135px;
        top: -4px;
        opacity: 0;
        z-index: -1;
        transition-duration: .5s;
        transition-property: opacity;
        @include breakpoint (xs) {
            width: 140px;
            left: -110px;
        }
    }
    
}
.search-active {
    & input {
        opacity: 1;
        z-index: 1;
    }
    & button {
        display: block;
    }
    .search-icon {
        display: none;
    }
}

.blog {
    &-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 40px 0 24px;
        @include breakpoint (ms) {
            margin: 40px 0 16px;
        }
    }
    &-filter {
        display: flex;
        align-items: center;
        &-data {
            font-family: 'Arial', sans-serif;
            font-weight: 700;
            margin-right: 8px;
            color: lighten($black, 7%);
            @include breakpoint (ms) {
                font-size: 12px;
            }
            & span {
                @include breakpoint (ms) {
                    display: none;
                } 
            }
            @include breakpoint (xs) {
                font-size: 10px;
            }
        }
        &-icon {
            width: 24px;
            height: 24px;
        }
    }
    &-items {
        display: inline-block;
        margin-bottom: 20px;
    }
    &-item {
        min-height: 502px;
        width: calc((100% - 30px * 3) / 4);
        margin-bottom: 60px;
        margin-right: 30px;
        float: left;
        &:nth-child(4n+4) {
            margin-right: 0;
            float: right;
        }
        @include breakpoint (xl) {
            min-height: 413px;
            margin-bottom: 40px;
        }
        @include breakpoint (lg) {
            width: calc((100% - 20px * 2) / 3);
            margin-right: 20px;
            &:nth-child(4n+4) {
                margin-right: 20px;
                float: left;
            }
            &:nth-child(3n+3) {
                margin-right: 0;
                float: right;
            }
        }
        @include breakpoint (ms) {
            width: calc((100% - 20px * 1) / 2);
            min-height: 286px;
            &:nth-child(3n+3) {
                margin-right: 20px;
                float: left;
            }
            &:nth-child(2n+2) {
                margin-right: 0;
                float: right;
            }
        }
        @include breakpoint (ms) {
            margin-bottom: 20px;
        }
        
    }
    & h2.title {
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 2;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        display: -webkit-box;
        display: box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        margin: 16px 0;
        @include breakpoint (ms) {
            margin: 8px 0 12px;
            -ms-line-clamp: 3;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            min-height: 48px;
        }
        @include breakpoint (xs) {
            min-height: 42px;
        }
    }
    &-img {
        border-radius: 8px;
        overflow: hidden;
        display: block;
        & img {
            width: 100%;
        }
        @include breakpoint (xl) {
            max-height: 128px;
        }
    }
    &-info {
        margin-bottom: 16px;
        @include breakpoint (ms) {
            margin-bottom: 8px;
        }
        & span {
            color: lighten($black, 58%);
            font-size: 12px;
            font-family: 'Roboto', sans-serif;
            @include breakpoint (ms) {
                font-size: 8px;
            }
        }
    }
    &-date {
        margin-right: 12px;
    }
    &-text {
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 7;
        -webkit-line-clamp: 7;
        line-clamp: 7;
        display: -webkit-box;
        display: box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        line-height: 25px;
        @include breakpoint (xl) {
            -ms-line-clamp: 6;
            -webkit-line-clamp: 6;
            line-clamp: 6;
        }
        @include breakpoint (ms) {
            -ms-line-clamp: 4;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &-link-more {
        line-height: 30px;
        &:hover {
            text-decoration: underline;
        }
        @include breakpoint (ms) {
            font-size: 12px;
            line-height: 20px;
        }
    }

}
.blog-filter-dropdown {
    display: inline-block;
    position: relative;
    & button {
        width: 24px;
        height: 24px;
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
    & .dropdown-content {
        display: none;
        position: absolute;
        background-color: $white;
        min-width: 220px;
        max-height: 200px;
        right: 0;
        overflow-y: scroll;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        & a {
            color: lighten($black, 7%);
            padding: 12px 16px;
            display: block;
            font-family: 'Arial', sans-serif;
            font-weight: 700;
            &:hover {
                background-color: #ddd;
            }
        }
    }
}

.blog-filter-dropdown.show {
    & .dropdown-content {
        display: block;
    }
}

.footer {
    text-align: center;
    background: $white;
    &-copy {
        font-size: 16px;
        font-weight: 700;
        color: lighten($black, 58%);
        padding: 31px 0;
        @include breakpoint (ms) {
            font-size: 12px;
            padding: 16px 0;
        }
    }
}

